#overlay {
	position: fixed;
	display: none;
	width: 60%;
	height: 100%;
	top: 0;
	left: 20%;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
	border: 1px solid #c1c1c1;
}
#text {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
	color: white;
	/* transform: translate(-50%,-50%); */
	-ms-transform: translate(-50%,-50%);
	background: black;
	width: 100%;
	height: 100%;
}
.recordinguntitle{
	width:100%;
	background:blue;
	color:white;
}
.control-group {
	    float: left;
	        width: auto;
	}
